@using Notlarim102.Entity.ValueObject
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<link href="~/Content/Login-RegisterStyle.css" rel="stylesheet" />

@* 20/12/6 regirster için viewmodel de kayt yaptıktan sonra buraya geldık  *@
 


@using (Html.BeginForm())
{
    <div class="logreg">
        <main class="form-signin">
            <form>
                <img class="mb-4 rounded-circle" src="~/images/b.png" style="background-color:antiquewhite" alt="" width="120" height="100">
                <h1 class="h3 mb-3 fw-normal">Giriş Formu</h1>
                @Html.ValidationSummary(false)

                <div class="form-floating">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", placeholder = "Kullanici Adı", Id = "floatingInput" })
                    @*<input type="email" class="form-control" id="floatingInput" placeholder="aaa">*@
                    <label for="floatingInput">Kullanıcı Adı</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email", Id = "floatingInput" })
                    @*<input type="email" class="form-control" id="floatingInput" placeholder="aaa">*@
                    <label for="floatinEmail">Email</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Password", Id = "floatingInput", type = "password"  })
                    @*<input type="email" class="form-control" id="floatingInput" placeholder="aaa">*@
                    <label for="floatingPassword">Şifre</label>
                </div>
                <div class="form-floating">
                    @Html.TextBoxFor(model => model.RePassword, new { @class = "form-control", placeholder = "Şifre Tekrar", Id = "floatingPassword", type = "password" })
                    @*<input type="password" class="form-control" id="floatingPassword" placeholder="Password">*@
                    <label for="floatingPassword">Şifre Tekrar</label>
                </div>

                @*<div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>*@
                <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        </main>
    </div>

}


<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("header").hide();
        $("footer").hide();
        $("#category1").hide();
        $("#category2").addClass("col-md-12").removeClass("col-md-10");

    });
</script>

